.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: var(--space-section);
  gap: var(--space-section);
}

.sectionGrid,
.sectionKeyboard {
  display: flex;
  justify-content: center;

  width: 100%;
  text-align: center;
}